html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.btn {
    margin: 12px 12px 12px 0px;
}

.container-fluid{
    padding: 0px;
}

.custom-container {
    display: flex;
    align-items: center;
    gap: 2em;
    flex-grow: 1;
    max-width: 100%;
}
@media(max-width:650px){
    .custom-container{
        flex-direction: column;
        align-items: flex-start;
    }
}