@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<p>Use this page to detail who are the site's author(s).</p>

