@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome :)</h1>
    <p>This is my first C# project using ASP.NET CORE MVC! There is a CRUD for departments, sellers and sales records, and also a simple and grouping search for the sales records.</p>
    <p>You can see the source code on my GitHub by clicking <a href="https://github.com/ichi1ro/projeto_vendedores" action="_blank" src="">Here!</a></p>
</div>

